
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/changepassword.css">
    <title>Thay đổi mật khẩu</title>
</head>
<body>
    <div id="wrapper">
        <div id="form-changepassword">
            
            <div class="changepassword">
                <form action="~/Account/ChangePassword" method="post">
                    <h2>Thay đổi mật khẩu</h2>                                   

                    <div class="form-group">
                        <label for="username"></label>
                        <input type="hidden" name="username" value="@ViewBag.User" class="input input--username" >
                    </div>

                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" name="password" value="" id="password" class="input input--password"
                            placeholder="Mật khẩu mới" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"></label>
                        <input type="password" name="confirmPassword" value="" id="confirm_password" class="input input--password"
                            placeholder="Nhập lại mật khẩu mới" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="btn btn-change"><b>Xác nhận</b></button>
                    </div>
                </form>
                <div class="others">
                    <div class="others-text">
                        <p>
                            Tạo tài khoản để quản lý đơn hàng, và các thông tin thanh toán, gửi hàng một cách đơn giản hơn.
                        </p>
                    </div>
                    <div class="others-button">
                        <a href="~/Account/Login" class="btn btn-name"><b>Đăng nhập</b></a>
                        <a href="~/Home/Index" class="btn btn-name"><b>Quay lại Trang Chủ</b></a>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <script src="~/js/changepassword.js"></script>
</body>
</html>
