<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/contentemail.css">
</head>

<body>
    <div id="wrapper">
        <div class="form">
            <div class="header">
                <div class="logo">
                    <h1>LOGO</h1>
                </div>
                <div class="text">
                    <h1>Chào mừng bạn đến với BMOS</h1>
                    <div class="link">
                        <a href="http://" class="linkdetail">Kích hoạt tài khoản</a>
                    </div>
                    <div class="headertext">
                        <span>
                            (Chúng tôi cần xác thực địa chỉ email của bạn để kích hoạt tài khoản)
                        </span>
                    </div>                   
                </div>
            </div>

            <div class="body">
                <div class="icon">
                    <div class="icon-details">
                        <a href="http://" class="iconlink"><div><i class="fa-brands fa-facebook fa-2xl"></i></div></a>
                        <a href="http://" class="iconlink"><div><i class="fa-brands fa-twitter fa-2xl"></i></div></a>
                        <a href="http://" class="iconlink"><div><i class="fa-brands fa-instagram fa-2xl"></i></div></a>
                        <a href="http://" class="iconlink"><div><i class="fa-brands fa-telegram fa-2xl"></i></div></a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="footercontent">
                    <div class="span1"><span>Copyright © 2023 BMOS, All rights reserved.</span></div>
                    <div><b>Địa chỉ của chúng tôi:</b></div>
                    <div class="span2"><span>C11-01, số 473 Man Thiện, Thủ Đức, KDT Geleximco Lê Trọng Tấn, Phường Dương Nội, Quận Hà Đông, Hà Nội</span></div>
                    <div class="span3"><span>Email: group7se@gmail.com</span></div>
                    <div class="span4"><span>Hotline: 0979500611</span></div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6208ee92db.js" crossorigin="anonymous"></script>
</body>

</html>