@model IEnumerable<BMOS.Models.RefundForm>


@{
    ViewData["Title"] = "UserChangePassword";
    Layout = "_HeaderFooter";
    int userid = ViewBag.userId;
}



<div class="container">
    <div class="content">
        <div class="row userprofile">
            <div class="col-12 userprofile_title">Trang chủ/ Chỉnh sửa người dùng</div>
        </div>
        <div class="row userinfo">
            <div class="col-7 userprofile_info">
                <style>
                    .userprofile_info_wel_history:hover {
                        background-color: #e38a41;
                    }
                </style>
                <div class="row userprofile_info_wel">
                    <div class="col-6">
                        <div class="userprofile_info_wel_history">
                            <img src="~/images/history.png" alt="" srcset="">
                            <a href="~/Account/UserHistoryOrder" style="text-decoration: none; color: black;"><h3 style="font-weight: bold; margin-top: 10px;">Lịch sử đơn hàng</h3></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="userprofile_info_wel_welcome">
                            <img src="~/images/user-icon.png" alt="" srcset="">
                            <h3 style="font-weight: bold; margin-top: 10px;">Xin chào, <Span>@ViewBag.Fullname</Span></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="userprofile_info_location">
                        <div class="col-12 userprofile_info_wel_location">
                            <button class="userprofile_info_wel_location1_icon" asp-action="AddRefund" asp-controller="Account" data-bs-toggle="modal" data-bs-target="#refund">
                                <img src="~/images/refund.png" alt="" srcset="">
                                <h3>Hoàn trả</h3>
                            </button>
                            <div class="modal" tabindex="-1" id="refund">
                                <div class="modal-dialog modal-lg modal-dialog-centered" style="margin-top:10rem;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">REFUND</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="post" asp-action="AddRefund" asp-controller="Account">
                                            <input type="hidden" class="form-control" name="userid" value="" required />
                                            <div class="form-group" style="padding:0px 5rem;">
                                                <label>Ma Don Hang</label>
                                                <input type="text" class="form-control" name="orderid" required />
                                            </div>
                                            <input type="hidden" class="form-control" name="userid" value="@userid" required />
                                            <div class="form-group" style="padding:0px 5rem;">
                                                <label>Ly do hoan tra</label>
                                                <textarea class="form-control" name="note" required></textarea>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="refundinfo">
                                @foreach (var item in Model.OrderByDescending(x => x.date))
                                {
                                    <div class="col-11 userprofile_info_wel_locationinfo" style="border:2px solid black; border-radius:1rem;margin:2rem;">
                                        <h3><b>Mã đơn hàng: </b>@item.orderId</h3>

                                        @{
                                            if (item.status == true)
                                            {
                                                <h3 style="color:green"><b style="color:black">Trạng thái: </b>Đơn hoàn trả đã được xác nhận</h3>
                                            }
                                            else
                                            {
                                                <h3 style="color:red"><b style="color:black">Trạng thái: </b>Đơn hoàn trả không được xác nhận</h3>
                                            }
                                        }
                                        <h3><b>Lý do hoàn trả: </b>@item.content</h3>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="userprofile_bar">
                    <div class="userprofile_bar_profile">
                        <img src="~/images/user-icon.png" alt="" srcset="">
                        <a href="~/Account/UserProfile" target="" style="color: #e38a41; font-weight: bold;">Hồ sơ</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/locationmanege.png" alt="" srcset="">
                        <a href="~/Account/UserLocation" target="">Cài đặt địa chỉ</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/reset-password.png" alt="" srcset="">
                        <a href="~/Account/UserChangePassword" target="">Đổi mật khẩu</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/logout.png" alt="" srcset="">
                        <a href="~/Account/Logout" target="">Đăng xuất</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/logout.png" alt="" srcset="">
                        <a href="~/Account/Refund" target="">Hoàn trả sản phẩm</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

