
@{
    ViewData["Title"] = "UserChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row userprofile">
            <div class="col-12 userprofile_title">Trang chủ/ chỉnh sửa người dùng</div>
        </div>
        <div class="row userinfo">
            <div class="col-7 userprofile_info">
                <div class="row userprofile_info_wel">
                    <div class="col-6">
                        <div class="userprofile_info_wel_history">
                            <img src="~/images/history.png" alt="" srcset="">
                            <h3 style="font-weight: bold; margin-top: 10px;">Lịch sử đơn hàng</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="userprofile_info_wel_welcome">
                            <img src="~/images/user-icon.png" alt="" srcset="">
                            <h3 style="font-weight: bold; margin-top: 10px;">Xin chào, <Span>@ViewBag.User</Span></h3>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="user_changepass">
                        <h3 style="color: rgb(247, 157, 40);"><b>Đổi mật khẩu</b></h3>
                        <h4>Để đảm bảo tính bảo mật vui lòng đặt mật khẩu ít nhất 8 ký tự</h4>
                        <form action="">
                            <label for="Cpass">Mật khẩu hiện tại:</label><br><br>
                            <input type="text" id="fname" name="fname" placeholder="Nhập mật khẩu hiện tại"><br><br>
                            <label for="Npass">Mật khẩu mới: </label><br><br>
                            <input type="text" id="lname" name="lname" placeholder="Nhập mật khẩu mới"><br><br>
                            <label for="CNpass">Mật khẩu mới lại: </label><br><br>
                            <input type="text" id="lname" name="lname" placeholder="Nhập lại mật khẩu mới"><br><br>
                            <input class="sbchange" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>



            <div class="col-5">
                <div class="userprofile_bar">
                    <div class="userprofile_bar_profile">
                        <img src="~/images/user-icon.png" alt="" srcset="">
                        <a href="" target="">Hồ sơ</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/locationmanege.png" alt="" srcset="">
                        <a href="~/Account/UserLocation" target="">Cài đặt địa chỉ</a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/reset-password.png" alt="" srcset="">
                        <a href="~/Account/UserChangePassword" target="" style="color: orange;"><b>Đổi mật khẩu</b></a>
                    </div>
                    <div class="userprofile_bar_profile">
                        <img src="~/images/logout.png" alt="" srcset="">
                        <a href="~/Account/Logout" target="" style="font-weight: bold;">Đăng xuất</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


