@model BMOS.Models.Entities.TblUser

@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Account Manage";
    }
<link href="~/css/create_edit.css" rel="stylesheet" />

<h1>Chỉnh sửa tài khoản</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input class="form-control"  type="password" value="@Model.Password" readonly />
                <input>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsConfirm" class="control-label"></label>
                <input asp-for="IsConfirm" class="form-control" readonly />
                <span asp-validation-for="IsConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" readonly />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" readonly />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberphone" class="control-label"></label>
                <input asp-for="Numberphone" class="form-control" readonly />
                <span asp-validation-for="Numberphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" readonly />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastActivitty" class="control-label"></label>
                <input asp-for="LastActivitty" class="form-control" readonly />
                <span asp-validation-for="LastActivitty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" readonly/>
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoleId" class="control-label"></label>
                <input asp-for="UserRoleId" class="form-control" readonly/>
                <span asp-validation-for="UserRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>