@model IEnumerable<dynamic>

@{
	Layout = "_HeaderFooter";
	ViewData["Title"] = "Index";
}



<div class="content">
	<div class="container">
		<div class="banner banner-warpper">
			@*<img src="https://cdn.shopify.com/s/files/1/1111/3280/files/HomepageBanner2F_2021_2500x.progressive.jpg?v=1635904976"
			alt="">
			<img src="https://cdn.shopify.com/s/files/1/0521/5784/1585/collections/the_pet_shop_banner_1378_x_288.jpg?v=1653636527"
			alt="">*@
			<img src="https://api.petzone.com/pub/media/catalog/category/Bird-food.gif"
				 alt="">
		</div>
		<div class="product-container">
			<div class="row product-list">
				<div class="col-12 product-list__title">Thức ăn cho chim</div>
				<div class="row product-row g-0">
					<div class="col-4 product-img-banner">
						<img src="images/product.png" alt="Product Imgage" srcset="">
					</div>
					<div class="row col-8">
						<div class="product-warpper">
							<!-- <div class="routing-warpper"> -->
							@foreach (var item in Model)
							{

								<div class="product-item">
									<div class="product-content product-border">
										@{
											string url = item.productImage;
											string[] delemeter = new string[] { "datnt" };
											string[] image = url.Split(delemeter, StringSplitOptions.None);
											<a class="controller-to-cart-link" style="text-decoration:none" href="/products/product/@item.productId">
												<div class="product-img-item" style="background-image: url('@image[0]')"></div>
											</a>
										}
										<div class="product-desc">
											<div class="product-desc__title">@item.productName</div>
											<div class="product-desc__price">@item.productPrice.000vnd</div>
											<button data-id="@item.productId" type="button" class="ajax-add-to-cart buy-now btn btn-sm btn-primary">Add to cart</button>
										</div>
									</div>
								</div>

							}
						</div>
						<div class="col-12 watch-more__button">
							<button type="button" class="btn btn-warning btn-lg watch-more--button">Xem thêm</button>
						</div>
					</div>
				</div>

			</div>
			<div class="row product-list">
				<div class="col-12 product-list__title">Lộ trình cho chim</div>
				<div class="row routing-row g-0">
					<div class="col-4 routing-img-banner">
						<img src="images/routing.png" alt="routing Imgage" srcset="">
					</div>
					<div class="row col-8">
						<div class="product-warpper">
							<!-- <div class="routing-warpper"> -->
							<div class="routing-item">
								<div class="routing-content product-border">
									<div class="routing-img-item"></div>
									<div class="routing-desc">
										<div class="routing-desc__title">Bữa ăn cho chim</div>
										<div class="routing-desc__price">100.000vnd</div>
									</div>
								</div>
							</div>
							<div class="routing-item">
								<div class="routing-content product-border">
									<div class="routing-img-item"></div>
									<div class="routing-desc">
										<div class="routing-desc__title">Bữa ăn cho chim</div>
										<div class="routing-desc__price">100.000vnd</div>
									</div>
								</div>
							</div>
							<div class="routing-item">
								<div class="routing-content product-border">
									<div class="routing-img-item"></div>
									<div class="routing-desc">
										<div class="routing-desc__title">Bữa ăn cho chim</div>
										<div class="routing-desc__price">100.000vnd</div>
									</div>
								</div>
							</div>
							<div class="routing-item">
								<div class="routing-content product-border">
									<div class="routing-img-item"></div>
									<div class="routing-desc">
										<div class="routing-desc__title">Bữa ăn cho chim</div>
										<div class="routing-desc__price">100.000vnd</div>
									</div>
								</div>
							</div>
							<div class="routing-item">
								<div class="routing-content product-border">
									<div class="routing-img-item"></div>
									<div class="routing-desc">
										<div class="routing-desc__title">Bữa ăn cho chim</div>
										<div class="routing-desc__price">100.000vnd</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 watch-more__button">
							<button type="button" class="btn btn-lg watch-more--button">Xem thêm</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Blog warper -->
		<div class="blog-container">
			<div class="row blog-list">
				<div class="col-12 product-list__title">Danh sách Blog</div>
				<div class="row g-0">
					<div class="blog-warpper">
						<div class="blog-item">
							<div class="blog-content">
								<div class="blog-img">
									<img src="images/chim_canh_cut_hoang_de.jpg"
										 alt="">
								</div>
								<div class="blog-desc">
									Đài BBC ngày 11-11 cho biết chú chim cánh cụt Adélie kể trên được cư dân địa phương đặt tên là Pingu. Nó được tìm thấy ở bãi biển New Zealand, cách môi trường sống tự nhiên ở Nam Cực ít nhất 3.000 km.
								</div>
							</div>
						</div>
						<div class="blog-item">
							<div class="blog-content">
								<div class="blog-img">
									<img src="images/chimcanhcut.jpg"
										 alt="">
								</div>
								<div class="blog-desc">
									Đài BBC ngày 11-11 cho biết chú chim cánh cụt Adélie kể trên được cư dân địa phương đặt tên là Pingu. Nó được tìm thấy ở bãi biển New Zealand, cách môi trường sống tự nhiên ở Nam Cực ít nhất 3.000 km.
								</div>
							</div>
						</div>
						<div class="blog-item">
							<div class="blog-content">
								<div class="blog-img">
									<img src="images/chimcanhcut2.jpg"
										 alt="">
								</div>
								<div class="blog-desc">
									Đài BBC ngày 11-11 cho biết chú chim cánh cụt Adélie kể trên được cư dân địa phương đặt tên là Pingu. Nó được tìm thấy ở bãi biển New Zealand, cách môi trường sống tự nhiên ở Nam Cực ít nhất 3.000 km.
								</div>
							</div>
						</div>
						<div class="blog-item">
							<div class="blog-content">
								<div class="blog-img">
									<img src="images/chim_canh_cut_hoang_de.jpg"
										 alt="">
								</div>
								<div class="blog-desc">
									Đài BBC ngày 11-11 cho biết chú chim cánh cụt Adélie kể trên được cư dân địa phương đặt tên là Pingu. Nó được tìm thấy ở bãi biển New Zealand, cách môi trường sống tự nhiên ở Nam Cực ít nhất 3.000 km.
								</div>
							</div>
						</div>
						<div class="blog-item">
							<div class="blog-content">
								<div class="blog-img">
									<img src="images/chimcanhcut.jpg"
										 alt="">
								</div>
								<div class="blog-desc">
									Đài BBC ngày 11-11 cho biết chú chim cánh cụt Adélie kể trên được cư dân địa phương đặt tên là Pingu. Nó được tìm thấy ở bãi biển New Zealand, cách môi trường sống tự nhiên ở Nam Cực ít nhất 3.000 km.
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(document).ready(function () {
			$('.ajax-add-to-cart').click(function (e) {
				var _id = $(this).data("id");
				console.log("Click o button");
				e.stopPropagation();
				$.ajax({
					url: "/ShoppingCart/AddToCart",
					data: {
						id: _id,
						productQuantity: 1,
						type: "ajax"
					},

					success: function (data) {
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Your work has been saved',
							showConfirmButton: false,
							timer: 1500
						});
						$(".cart-quantity").html(data.productQuantity);
					},
					error: function () {

					}
				});
			});
		});

	</script>
	}