@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var routingList = ViewData["Routing"] as List<BMOS.Models.RoutingHomePageModel>;
}
<div class="row col-12">
	<div class="meal-wrapper">
		<!-- <div class="routing-warpper"> -->
		@foreach (var item in routingList)
		{
			<div class="routing-item">
				<div class="routing-content product-border">
					<a asp-controller="Routing" asp-action="RoutingDetail" asp-route-id="@item.routingId" style="display: flex; text-decoration: none">
						<div class="routing-img-item__banner" style="background: url(@item.routingImage); width: 90%; height: 300px; background-size:cover"></div>
						<div class="routing-desc">
							<div class="routing-desc__title">
							Tên lộ trình: @item.routingName
								</div>
							<div class="routing-desc__price" >
								Giá: @{@item.routingPrice}.000vnd
								</div>
						</div>
					</a>
				</div>
			</div>
		}

	</div>
	<div class="col-12 watch-more__button">
		<button type="button" class="btn btn-lg watch-more--button">Xem thêm</button>
	</div>
</div>